<div class="container p-5">
  <div class="row">
    <div class="col-md-10 offset-md-1"style="background-color: #f0f8ff; border-radius: 10px; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">

      <table class="table table-borderless">
        <tbody>
          <tr style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
            <td class="text-right" style="width: 30%;">お名前</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
            <td class="text-right mt-3" style="width: 30%;">メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
            <td class="text-right mt-3" style="width: 30%;">件名</td>
            <td><%= @contact.subject %></td>
          </tr>
          <tr style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
            <td class="text-right mt-3">メッセージ</td>
            <td style="white-space: pre-wrap;"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex">
        <div class="mr-3">
        <%= form_with model: @contact do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信', class: "btn btn-success" %></div>
        <% end %>
        </div>

        <div>
        <%= form_with model: @contact, url: back_contacts_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る', class: "btn btn-info" %></div>
        <% end %>
        </div>
      </div>


    </div>
  </div>
</div>