<head>
  <style>
    .scrollable {
      max-height: 600px;
      overflow-y: scroll;
      scrollbar-width: thin; /* スクロールバーの幅を調整するためのプロパティ */
      scrollbar-color: transparent transparent; /* スクロールバーの色を透明にするためのプロパティ */
    }
  </style>
</head>

<div class="scrollable" style="overflow: auto; max-height: 600px;">
<% travels.each do |travel| %>
<table class="table table-borderless table-bordered mb-4">
　<tr class="table-bordered">
    <td style="width: 20;">
     <% if current_user && travel.user == current_user %>
      <%= image_tag current_user.get_profile_image, size: '40x40', class: 'rounded-circle' %>
     <% else %>
      <%= image_tag travel.user.get_profile_image, size: '40x40', class: 'rounded-circle' %>
     <% end %>
    </td>
    <td><%= link_to travel.title.length > 10 ? travel.title[0..9] + "..." : travel.title, travel %></td>
    <td style="width: 20;" id="favorite_btn_<%= travel.id %>">
      <%= render "favorites/btn", travel: travel %>
    </td>
    <td style="width: 15%;">コメント数</td>
    <td class="text-right">
      <% if current_user.following?(travel.user) %>
        <%= link_to "フォロー外す", user_relationships_path(travel.user.id), class: "btn btn-outline-success rounded-pill", method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(travel.user.id), class: "btn btn-outline-success rounded-pill", method: :post %>
      <% end %>
    </td>
　</tr>
  <tr>
    <td>
      <% if travel.image.attached? %>
        <%= image_tag travel.image, class: "rounded-circle", size: "50x50" %>
      <% else %>
        <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "rounded-circle", size: "50x50" %>
      <% end %>
    </td>
    <td><%= travel.body.length > 10 ? travel.body[0..9] + "..." : travel.body %></td>
  </tr>
  <tr>
    <td><%= travel.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="text-right">
      <% if current_user && travel.user == current_user %>
        <%= link_to "削除", travel_path(travel.id), method: :delete, class: "btn btn-outline-danger rounded-pill" %>
      <% end %>
    </td>
  </tr>
  </table>
<% end %>
</div>
<%= paginate @travels %>