<head>
  <style>
    .scrollable {
      max-height: 1000px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }

    .triangle {
      width: 10px;
      height: 10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid lightgray;
      margin-left: 13px;
    }

    .scale {
      transition: transform 0.3s ease-in-out;
    }

    .scale:hover {
      box-shadow: none;
      transform: scale(1.1);
    }


    .photo01 {
      animation: slideIn01 8s 1;
    }

    @keyframes slideIn01 {
      0% {
        opacity: 0;
        transform: translateX(-1000px);
      }
      60% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .handle {
      width: 100px;
      height: 50px;
      position: relative;
      background-color: #696969;
      border-radius: 10px 10px 0px 0px;
      margin: 0 auto;
    }

    .box {
      width: 60px;
      height: 30px;
      background-color: #add8e6;
      border-radius: 10px 10px 0px 0px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .roller {
      width: 20px;
      height: 15px;
      background-color: #696969;
      border-radius: 0px 0px 10px 10px;
    }

    .details {
     list-style: none;
     max-width: 800px;
     margin-right: 15px;

    }

    .details li {
      flex-basis: calc(33.333% - 8px);
      position: relative;
      max-width: 250px;
      border-radius: 8px;
    }

    @media (max-width: 720px) {
      .details li {
        flex-basis: calc(50% - 6px);
      }

      .details li:nth-child(n+3) {
        margin-top: 12px;
      }
    }

    @media (max-width: 520px) {
      .details {
        flex-direction: column;
        align-items: center;
      }

      .details li {
        flex-basis: auto;
      }

      .details li:nth-child(n+2) {
        margin-top: 12px;
      }
    }

    .details .text {
      position: absolute;
      inset: 0;
      margin: 0;
      padding: 16px 24px;
      border-radius: 8px;
      text-align: left;
      background: rgba(220, 102, 136, .9);
    }

    .details .text dt {
      justify-self: flex-start;
      align-self: flex-end;
    }

    .details .text dd {
      font-size: .8em;
      line-break: strict;
      overflow-wrap: break-word;
    }

    .details .text .price {
      justify-self: flex-end;
    }



    /* :::::: type2 :::::: */
    .details .type2 img,
    .details .type2 dl {
      transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .details .type2 .img:hover {
      transform: rotateX(180deg);
    }

    .details .type2 dl {
      background-color: #f0f8ff;
    }

    .details .type2:not(:hover) dl {
      transform: rotateX(-180deg);
    }

    .check-box{
    position: absolute;
    top: 25px;
    left: 22px;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    text-align: center;
}

.check-box-in{
  margin: 10px 0;
}



input[type=checkbox] {
    display: none;
}

label {
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 42px;
    position: relative;
    width: auto;
}

label::before {
    border: 4px solid #b9b9b9;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    left: 0;
    margin-top: -17px;
    position: absolute;
    top: 50%;
    border-radius: 50px;
}

label::after {
    border-right: 4px solid red;
    border-top: 4px solid red;
    content: '';
    display: block;
    height: 13px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 30%;
    width: 7px;
    transform-origin: left top;
    transform: scaleX(-1) rotate(135deg);
}

input[type=checkbox]:checked + label::before{
    animation: box 0.8s;
    border: 4px solid red;
}

input[type=checkbox]:checked + label::after {
    opacity: 1;
    animation: check 0.8s;
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 13px;
    width: 7px;
  }
}

@keyframes box {
    0% { transform: scaleX(-1) rotate(170deg); }
    30% { transform: scaleX(-1) rotate(135deg); }
}
  </style>
</head>

<div class="row">
  <div class="scrollable col" style="overflow: auto; max-height: 1000px;" id="app-container">
    <% travels.each_slice(3) do |travels_slice| %>
    <div class="container photo01">
      <div class="row justify-content-start">
        <% travels_slice.each do |travel| %>
        <ul class="details">
          <li class="type2">
            <div class="mt-5 mr-4 mb-3 scale">
              <div class="handle">
                <div class="box"></div>
              </div>

              <div class="border" style="width: 220px; height: 290px; background-color: #f0fff0; border-radius: 40px 40px 40px 40px;">
                <% if travel.image.attached? %>
                <%= image_tag travel.image, class: "", size: "219x100", style: "border-radius: 40px 40px 0px 0px;" %>
                <% else %>
                <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "img", size: "220x100", style: "border-radius: 40px 40px 0px 0px;" %>
                <% end %>
                <div style="padding: 0px 10px;">
                  <% if current_user && travel.user == current_user %>
                  <%= image_tag current_user.get_profile_image, size: '40x40', class: 'rounded-circle' %>
                  <% else %>
                  <%= image_tag travel.user.get_profile_image, size: '40x40', class: 'rounded-circle' %>
                  <% end %>
                  <%= link_to (travel.title.length > 7) ? "#{travel.title[0..6]}..." : travel.title, travel %>
                  <div style="padding: 0px 10px 10px 10px;">
                    <div class="bg-dark rounded-pill" style="height: 10px;"></div>
                  </div>
                  <div class="row">
                    <p class="col ml-3" style="height: 20px;">
                      <% if travel.category.present? %>
                      <%= link_to travel.category, tagsearches_search_path(content: travel.category) %>
                      <% end %>
                    </p>
                  </div>
                  <div style="padding: 0px 10px 10px 10px;">
                    <div class="bg-dark rounded-pill" style="height: 10px;"></div>
                  </div>
                  <div class="row" style="padding: 0px 10px;">
                    <p class="col-5" id="comment_counter">
                      <%= render "travel_comments/counter", travel: travel %>
                    </p>
                  </div>
                  <div class="text-center">
                    <%= travel.created_at.strftime('%Y/%m/%d %H:%M') %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="roller col-1 mx-auto"></div>
                <div class="roller col-1 mx-auto"></div>
              </div>

              <dl class="text">
                <dd style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9;">
                  <% if current_user && travel.user == current_user %>
                  <%= image_tag current_user.get_profile_image, size: '40x40', class: 'rounded-circle mb-2' %>&nbsp;&nbsp;<%= truncate(travel.user.name, length: 7) %>
                  <% else %>
                  <%= image_tag travel.user.get_profile_image, size: '40x40', class: 'rounded-circle mb-2' %>&nbsp;&nbsp;<%= truncate(travel.user.name, length: 7) %>
                  <% end %>
                </dd>
                <h5 style="position: absolute; top: 22px; right: 20px; z-index: 9998;" id="favorite_btn_<%= travel.id %>">
                  <%= render "favorites/btn", travel: travel %>
                </h5>
                <dt>
<% if current_user && travel.user == current_user %>
  <div class="check-box">
    <div class="check-box-in">
      <%= check_box_tag "selected_travels[]", travel.id, false, id: "travel_#{travel.id}" %>
      <label for="travel_<%= travel.id %>"></label>
    </div>
  </div>
<% end %>
                  <%= link_to (travel.title.length > 7) ? "#{travel.title[0..6]}..." : travel.title, travel %>
                </dt>
                <div class="triangle ml-3 mt-2"></div>
                <dd style="background-color: lightgray; padding: 8px; border-radius: 16px 20px 20px 20px; height: 150px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">
                  <%= truncate(travel.body, length: 78) %>
                </dd>
                <dd>
                  <% if travel.category.present? %>
                  タグ：<%= link_to travel.category, tagsearches_search_path(content: travel.category) %>
                  <% end %>

                </dd>
                <dd id="comment_counter">
                  <%= render "travel_comments/counter", travel: travel %>
                </dd>
                <dd style="position: absolute; bottom: 25px; right: 20px; z-index: 9998;">費用：<%= travel.amount_range %></dd>
                <dd style="position: absolute; bottom: 0px; right: 20px; z-index: 9998;"><%= travel.created_at.strftime('%Y/%m/%d %H:%M') %></dd>
              </dl>

            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

