<style>
  .triangle {
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid lightgray;
    margin-left: 13px;
  }

  .photo02 {
    animation: slideIn02 7s 1;
  }

  @keyframes slideIn02 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      transform: translateX(1000px);
    }
    70% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* :::::: type1 :::::: */
  .type1 {
    overflow: hidden;
  }

  .type1 .text {
    transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .type1:not(:hover) .text {
    opacity: 0;
    transform: translateY(100%);
  }
</style>

<% travels.each do |travel| %>
  <% if travel.image.attached? %>
    <ul class="details mt-3 photo02" style="margin-left: 20px;">
      <li class="type1">
        <%= image_tag travel.image, class: "", style: "border-radius: 20px 20px 20px 20px; width: 100%; height: 170px;" %>
        <dl class="text">
          <dt>
            <% if current_user && travel.user == current_user %>
              <%= image_tag current_user.get_profile_image, size: '35x35', class: 'rounded-circle left' %>
            <% else %>
              <%= image_tag travel.user.get_profile_image, size: '35x35', class: 'rounded-circle left' %>
            <% end %>
            <%= link_to travel.title.length > 7 ? "#{travel.title[0..6]}..." : travel.title, travel, class: "" %>
          </dt>
          <div class="triangle ml-3 mt-2"></div>
          <dd style="background-color: lightgray; padding: 8px; border-radius: 18px 20px 20px 20px;"><%= truncate(travel.body, length: 30) %></dd>
          <dd style="position: absolute; bottom: 0px; right: 20px; z-index: 9998;">
            <%= travel.created_at.strftime('%Y/%m/%d %H:%M') %>
          </dd>
        </dl>
      </li>
    </ul>
  <% else %>
    <ul class="details mt-3 photo02" style="margin-left: 20px;">
      <li class="type1">
        <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "", style: "border-radius: 20px 20px 20px 20px; width: 100%; height: 170px;" %>
        <dl class="text" style="">
          <dt>
            <% if current_user && travel.user == current_user %>
              <%= image_tag current_user.get_profile_image, size: '35x35', class: 'rounded-circle left' %>
            <% else %>
              <%= image_tag travel.user.get_profile_image, size: '35x35', class: 'rounded-circle left' %>
            <% end %>
            <%= link_to travel.title.length > 7 ? "#{travel.title[0..6]}..." : travel.title, travel, class: "" %>
          </dt>
          <div class="triangle ml-3 mt-2"></div>
          <dd style="background-color: lightgray; padding: 8px; border-radius: 18px 20px 20px 20px;"><%= truncate(travel.body, length: 30) %></dd>
          <dd style="position: absolute; bottom: 0px; right: 20px; z-index: 9998;">
            <%= travel.created_at.strftime('%Y/%m/%d %H:%M') %>
          </dd>
        </dl>
      </li>
    </ul>
  <% end %>
<% end %>

