<head>
  <style>
    .break-text {
      word-wrap: break-word;
      width: 100%;
    }

    .table-borderless {
      border-collapse: collapse;
    }

    .table-borderless td, .table-borderless th {
      border-bottom: 1px solid #dee2e6;
    }
.triangle{
  width: 10px;
  height: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid lightgray;
}

  </style>
</head>
<div class='container' style="width: 80%">
  <div class='row mt-3'>
    <div class='col-12'>
      <div class='row'>
        <h3 class="col ml-3"><%= @travel.title %></h3>
        <h3 class="col mr-5">周辺の地図</h3>
      </div>
      <div class='row'>

        <div class="">
        <% if @travel.image.attached? %>
          <%= image_tag @travel.image, class: "rounded", size: "400x300" %>
        <% else %>
          <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "rounded ml-4", size: "400x300" %>
        <% end %>
       <div class="tag-box">
         <% @travel.tags.each do |tag| %>
          <span class="label"><%= tag.name %></span>
         <% end %>
       </div>
       </div>

        <div class="col">
          <spon id="latitude" style="display: none"><%= @travel.latitude %></spon>
          <spon id="longitude" style="display: none"><%= @travel.longitude %></spon>
          <%= render "maps/show" %>
          <p class="ml-3">表示されない場合
          <%= link_to travel_path(@travel.id) do %>
          こちら<i class="fa-solid fa-rotate-right fa-xs"></i>
          <% end %>
          をクリックしてください</p>
        </div>
      </div>
    </div>
  </div>
<div class="col-12">
  <div class="ml-1">
    <% if current_user && @travel.user == current_user %>
      <%= image_tag current_user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
    <% else %>
      <%= image_tag @travel.user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
    <% end %>
    &nbsp;&nbsp;
    <%= link_to user_path(@travel.user), class: "btn btn-outline-success rounded-pill" do %>
      <%= @travel.user.name %>さんの部屋へ
      <i class="fa-solid fa-door-open"></i>
    <% end %>
  </div>
    <div class="triangle ml-3 mt-2"></div>
    <h5 class="break-text rounded" style="background-color: lightgray; padding: 8px">
      <%= @travel.body %> <br>
      <%= @travel.created_at.strftime('%Y/%m/%d %H:%M') %>
    </h5>
  </div>
</div>
<div class="container" style="width: 80%">
<div class="row">
<table class="table table-borderless col-12 mt-4">
  <tr>
    <td colspan="12"><h3>住所: <%= @travel.address %></h3></td>
  </tr>
  <tr>
    <td colspan="12"><h3>費用: <%= @travel.amount_range %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交通手段: <%= @travel.transportation %></h3></td>
  </tr>
  <tr>
    <td id="comment_counter">
      <%= render "travel_comments/counter", travel: @travel %>
    </td>
    <td id="favorite_btn_<%= @travel.id %>">
      <%= render "favorites/btn", travel: @travel %>
    </td>
    <td>
      <% if @travel.category.present? %>
        <%= link_to @travel.category, tagsearches_search_path(content: @travel.category) %>
      <% end %>
    </td>
    <td id="follow-ajax_<%= @travel.user.id %>">
      <% if current_user.following?(@travel.user) %>
        <%= link_to user_relationships_path(@travel.user.id), class: "btn btn-outline-success rounded-pill", method: :delete, remote: true do %>
        フォローを外す&nbsp;&nbsp;<i class="fa-solid fa-user-minus"></i>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(@travel.user.id), class: "btn btn-outline-success rounded-pill", method: :post, remote: true do %>
        フォローする&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if current_user && @travel.user == current_user %>
        <%= link_to edit_travel_path(@travel.id), method: :get, class: "btn btn-outline-success rounded-pill" do %>
        編集&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
      <% if current_user && @travel.user == current_user %>
        <%= link_to travel_path(@travel.id), method: :delete, class: "btn btn-outline-danger rounded-pill", "data-confirm" => "本当に削除しますか？" do %>
        削除&nbsp;&nbsp;<i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
</div>
</div>
<div class='container' style="width: 80%">
  <div class='row'>
    <div class='col-12'>
      <div class='row'>
        <div class="col-6" id="comment_index">
          <%= render "travel_comments/index", travel: @travel %>
        </div>
        <div class="col-6">
          <%= render "travel_comments/form", travel: @travel, travel_comment: @travel_comment %>
        </div>
      </div>
    </div>
  </div>
</div>
