<head>
  <style>
    .break-text {
      word-wrap: break-word;
      width: 100%;
    }

    .triangle {
      width: 10px;
      height: 10px;
      border-left: 25px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 20px solid lightgray;
    }

  </style>
</head>

<div class="row" style="" data-turbo-frame="false">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-7" style="width: 900px; background-color: #f0f8ff; border-radius: 10px; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">
        <h3 class="mb-3 ml-3" style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9; width: 530px;"><%= @travel.title %></h3>
        <div class="row">
          <div class="col-5" style="margin-right: 15px;">
            <% if @travel.image.attached? %>
              <%= image_tag @travel.image, class: "", size: "270x240", style: "border-radius: 30px 30px 30px 30px;" %>
            <% else %>
              <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "", size: "270x240", style: "border-radius: 30px 30px 30px 30px;" %>
            <% end %>
            <div class="tag-box">
              <% @travel.tags.each do |tag| %>
                <span class="label"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
          <h5 class="top-right" style="position: absolute; top: 22px; right: 20px; z-index: 9998;" id="favorite_btn_<%= @travel.id %>">
            <%= render "favorites/btn", travel: @travel %>
          </h5>
          <div class="top-right" style="position: absolute; top: 70px; right: 8px; z-index: 9998;">
            <% if current_user && @travel.user == current_user %>
              <%= link_to edit_travel_path(@travel.id), method: :get, class: "button-hover post" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            <% end %>
          </div>
          <div class="top-right" style="position: absolute; top: 130px; right: 8px; z-index: 9998;">
            <% if current_user && @travel.user == current_user %>
              <%= link_to travel_path(@travel.id), method: :delete, class: "button post", "data-confirm" => "本当に削除しますか？" do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            <% end %>
          </div>
          <div class="col-5">
            <spon id="latitude" style="display: none"><%= @travel.latitude %></spon>
            <spon id="longitude" style="display: none"><%= @travel.longitude %></spon>
            <%= render "maps/show" %>
                        <p class="ml-3">表示されない場合は
              <%= link_to travel_path(@travel.id) do %>
                こちら<i class="fa-solid fa-rotate-right fa-xs"></i>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-1">
            <% if current_user && @travel.user == current_user %>
              <%= image_tag current_user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
            <% else %>
              <%= image_tag @travel.user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
            <% end %>
          </div>
          <div class="col ml-3 mt-2" style="z-index: 9998;" id="follow-ajax_<%= @travel.user.id %>">
            <% if current_user.following?(@travel.user) %>
              <%= link_to user_relationships_path(@travel.user.id), class: "button-hover", method: :delete, remote: true do %>
                フォローを外す&nbsp;&nbsp;<i class="fa-solid fa-user-minus"></i>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@travel.user.id), class: "button-hover", method: :post, remote: true do %>
                フォローする&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
              <% end %>
            <% end %>
          </div>
          <div class="box col">
            <%= link_to user_path(@travel.user), class: "" do %>
              <div id="travel_home">
                <div class="layer2">
                  <div class="nb">この旅人の部屋へ<i class="fa-solid fa-door-open"></i></div>
                </div>
                <div class="textlink">Go to room</div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="triangle ml-3 mt-2"></div>
        <h5 class="break-text" style="background-color: lightgray; padding: 8px; border-radius: 18px 20px 20px 20px;">
          <%= @travel.body %> <br>
          <%= @travel.created_at.strftime('%Y/%m/%d %H:%M') %>
        </h5>
        <div class="mt-3" style="background-color: #f0f8ff; border-radius: 20px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);">
          <h3 class="mx-4" style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9; padding: 10px 0px 0px 0px;">基本情報</h3>
          <div style="padding: 5px 40px 20px 40px;">

            <div class="row" style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
              <h4 class="">住所：</h4>
              <h5 class=""><%= @travel.address %></h5>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="row" style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
                  <h4 class="">費用：</h4>
                  <h5 class="" style="margin-right: 50px;"><%= @travel.amount_range %></h5>
                  <h4 class="">交通手段：</h4>
                  <h5 class=""><%= @travel.transportation %></h5>
                </div>
              </div>
               </div>
            <div class="row mt-3" style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
              <div class="col">
                <div class="row">
                  <h4 class="">コメント</h4>
                  <h5 class="" id="comment_counter">
                    <%= render "travel_comments/counter", travel: @travel %>
                  </h5>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <h4 class="">#タグ :</h4>
                  <% if @travel.category.present? %>
                    <h5 class=""><%= link_to @travel.category, tagsearches_search_path(content: @travel.category) %></h5>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="my-3">コメント欄</h3>
        <div class="col" id="comment_index" style="background-color: #f0f8ff; border-radius: 40px; height: 600px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);">
          <%= render "travel_comments/index", travel: @travel %>
        </div>
      </div>
      <div class="col-3">
        <div class="" style="border: 3px solid; border-radius: 15px; height: 300px; background-color: #add8e6;">
          <h4 class="text-center my-2" style="border-bottom: 3px solid;">タグ一覧</h4>
          <%= render 'travels/tag', categories: @categories %>
        </div>

        <h4 class="text-center mt-2">閲覧数が多い旅</h4>
        <%= render 'travels/view', travels: @travel_detail %>


        <div class="mt-3 mx-auto">
          <%= render "travel_comments/form", travel: @travel, travel_comment: @travel_comment %>
        </div>
      </div>
    </div>
  </div>
</div>

