
<div class='container px-sm-0 ml-5'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'> <!-- 修正した部分：追加したdiv -->
        <% if @travel.image.attached? %>
          <%= image_tag @travel.image, class: "rounded-circle mt-4 ml-4", size: "400x400" %>
        <% else %>
          <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "rounded-circle", size: "400x400" %>
        <% end %>
        <h3 class="mx-auto mt-4">
          感想 <br>
          <%= @travel.body %>
        </h3>
      </div> <!-- 修正した部分：追加したdiv の閉じタグ -->
    </div>
        <table class="table table-borderless-bottom ml-4">
          <tr>
            <td><h4>地名: <%= @travel.title %></h4></td>
          </tr>
          <tr>
            <td><h4>住所: <%= @travel.address %></h4></td>
          </tr>
          <tr>
            <td><h4>費用: <%= @travel.amount_range %></h4></td>
          </tr>
          <tr>
            <td><h4>交通手段: <%= @travel.transportation %></h4></td>
          </tr>
          <tr>
            <td id="comment_counter">
             <%= render "travel_comments/counter", travel: @travel %>
           </td>
          </tr>
        </table>
       <div id="comment_index">
         <%= render "travel_comments/index", travel: @travel %>
       </div>
      <%= render "travel_comments/form", travel: @travel, travel_comment: @travel_comment %>
    <div>
  </div>
</div>
