
<head>
  <style>
    .break-text {
      word-wrap: break-word;
      width: 100%;
    }

    .table-borderless {
      border-collapse: collapse;
    }

    .table-borderless td,
    .table-borderless th {
      border-bottom: 1px solid #dee2e6;
    }

    .triangle {
      width: 10px;
      height: 10px;
      border-left: 25px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 20px solid lightgray;
    }

    .img {
      border-radius: 30px 30px 30px 30px;
    }
  </style>
</head>
<%= render 'layouts/loading' %>
<div class="row" style="margin-left:70px;">
  <div class="col">
    <div class="row">

      <div class="col-md-9" style="background-color: #f0f8ff; border-radius: 10px; width:600px; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">
        <div class="row">
          <div class="col">
            <h3 class=""><%= @travel.title %></h3>
            <% if @travel.image.attached? %>
              <%= image_tag @travel.image, class: "img", size: "300x240" %>
            <% else %>
              <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "img", size: "300x240" %>
            <% end %>
            <div class="tag-box">
              <% @travel.tags.each do |tag| %>
                <span class="label"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
          <div class="col">
            <h3 class="">周辺の地図</h3>
            <spon id="latitude" style="display: none"><%= @travel.latitude %></spon>
            <spon id="longitude" style="display: none"><%= @travel.longitude %></spon>
            <%= render "maps/show" %>
            <p class="ml-3">表示されない場合は
              <%= link_to travel_path(@travel.id) do %>
                こちら<i class="fa-solid fa-rotate-right fa-xs"></i>
              <% end %>
              をクリック
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <% if current_user && @travel.user == current_user %>
              <%= image_tag current_user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
            <% else %>
              <%= image_tag @travel.user.get_profile_image, size: '60x60', class: 'rounded-circle' %>
            <% end %>
          </div>

          <div class="box col">
            <%= link_to user_path(@travel.user), class: "" do %>
          <div id="travel_home">
          <div class="layer2">
            <div class="nb">この旅人の部屋へ<i class="fa-solid fa-door-open"></i></div>
             </div>
            <div class="textlink">Go to room</div>
              </div>
            <% end %>
          </div>

        </div>
        <div class="triangle ml-3 mt-2"></div>
        <h5 class="break-text" style="background-color: lightgray; padding: 8px; border-radius: 18px 20px 20px 20px;">
          <%= @travel.body %> <br>
          <%= @travel.created_at.strftime('%Y/%m/%d %H:%M') %>
        </h5>
        <table class="table table-borderless mt-4">
          <tr>
            <td colspan="12"><h3>住所: <%= @travel.address %></h3></td>
          </tr>
          <tr>
            <td colspan="12"><h3>費用: <%= @travel.amount_range %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交通手段: <%= @travel.transportation %></h3></td>
          </tr>
          <tr>
            <td id="comment_counter">
              <%= render "travel_comments/counter", travel: @travel %>
            </td>
            <td id="favorite_btn_<%= @travel.id %>">
              <%= render "favorites/btn", travel: @travel %>
            </td>
            <td>
              <% if @travel.category.present? %>
                <%= link_to @travel.category, tagsearches_search_path(content: @travel.category) %>
              <% end %>
            </td>
            <td id="follow-ajax_<%= @travel.user.id %>">
              <% if current_user.following?(@travel.user) %>
                <%= link_to user_relationships_path(@travel.user.id), class: "button-hover", method: :delete, remote: true do %>
                  フォローを外す&nbsp;&nbsp;<i class="fa-solid fa-user-minus"></i>
                <% end %>
              <% else %>
                <%= link_to user_relationships_path(@travel.user.id), class: "button-hover", method: :post, remote: true do %>
                  フォローする&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if current_user && @travel.user == current_user %>
                <%= link_to edit_travel_path(@travel.id), method: :get, class: "button-hover show" do %>
                  編集&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if current_user && @travel.user == current_user %>
                <%= link_to travel_path(@travel.id), method: :delete, class: "button show", "data-confirm" => "本当に削除しますか？" do %>
                  削除&nbsp;&nbsp;<i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
        <h3>コメント</h3>
        <div class="col" id="comment_index">
        <%= render "travel_comments/index", travel: @travel %>
      </div>
      </div>

      <div class="col-3">
        <div class="mt-4" style="border: 3px solid; border-radius: 15px; height: 300px; background-color: #add8e6;">
          <h4 class="text-center my-2" style="border-bottom: 3px solid;">タグ一覧</h4>
          <%= render 'travels/tag', categories: @categories %>
        </div>
        <h4 class="text-center mt-2">閲覧数が多い旅</h4>
        <%= render 'travels/view', travels: @travel_detail %>
      <div class="mt-3 mx-auto">
        <%= render "travel_comments/form", travel: @travel, travel_comment: @travel_comment %>
      </div>
      </div>
    </div>
  </div>
</div>

