<head>
  <style>
    .scrollable {
      max-height: 400px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }

  </style>
</head>
<div class="scrollable" style="overflow: auto; max-height: 400px;">

    <% users.each do |user| %>
      <div class="row mt-4" style="border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #a9a9a9;">
        <div class="col-1"><%= image_tag user.get_profile_image, class: "rounded-circle", size: '50x50' %></div>
        <div class="col-2"><%= user.name.truncate(7) %></div>
        <div class="col-2">フォロワー数: <%= user.followers.count %></div>
        <div class="col" id="follow-ajax_<%= user.id %>">
          <% if current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id), class: "button-hover", style: "z-index: 9998;", method: :delete, remote: true do %>
              フォローを外す&nbsp;&nbsp;<i class="fa-solid fa-user-minus"></i>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id), class: "button-hover", style: "z-index: 9998;", method: :post, remote: true do %>
              フォローする&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
            <% end %>
          <% end %>
        </div>
          <div class="box col-4 mb-2">
            <%= link_to user_path(user.id), class: "" do %>
              <div id="travel_home">
                <div class="layer2">
                  <div class="nb">この旅人の部屋へ<i class="fa-solid fa-door-open"></i></div>
                </div>
                <div class="textlink">Go to room</div>
              </div>
            <% end %>
          </div>

      </div>
    <% end %>
</div>

