<head>
  <style>
    .scrollable {
      max-height: 400px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }
  </style>
</head>
<div class="scrollable" style="overflow: auto; max-height: 400px;">
  <table class="table table-borderless">
    <% users.each do |user| %>
      <tr style="border-bottom-width: 4px; border-bottom-style: solid; border-bottom-color: #b0c4de; padding-top: 10px; padding-bottom: 10px;">
        <td><%= image_tag user.get_profile_image, class: "rounded-circle", size: '50x50' %></td>
        <td><%= user.name.truncate(7) %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td id="follow-ajax_<%= user.id %>">
          <% if current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id), class: "btn btn-outline-success rounded-pill", method: :delete, remote: true do %>
              フォローを外す&nbsp;&nbsp;<i class="fa-solid fa-user-minus"></i>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id), class: "btn btn-outline-success rounded-pill", method: :post, remote: true do %>
              フォローする&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(user.id), class: "btn btn-outline-success rounded-pill" do %>
            この旅人の部屋へ<i class="fa-solid fa-door-open"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>