<div class='container mt-2'>
  <%= render 'layouts/errors' %>
  <div class='row'>
    <div class="col-sm-12 col-md-8 mx-auto">
      <h2>プロフィール編集</h2>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :プロフィール名 %>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
        <div class="form-group">
          <%= f.label :プロフィール画像 %>
          <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <h4>自己紹介</h4>
          <%= f.text_area :body, class: "form-control body", rows: '10' %>
        </div>
        <div class="form-group">
          <%= f.button '内容を保存する', class: 'button-hover edit' %>
        </div>
      <% end %>
      <%= link_to "退会する", unsubscribe_path, class: "button edit" %>
    </div>
  </div>
</div>