<div class='container mx-auto'>
  <div class='row justify-content-center'>
      <%= render 'info', user: @user %>
    &nbsp;&nbsp;
    <div class='col-8'>
      <div class="row" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #b0c4de; padding-top: 10px; padding-bottom: 10px;">
      <h2 class="col-8">発見した旅人</h2>
      <div class="col mt-3">
      <%= form_with(url: search_users_path, local: true, method: :get ) do |form| %>
       <%= form.text_field :keyword %>
      <%= form.submit "検索",class: 'btn-outline-success rounded-pill' %>
      <% end %>
      </div>
      </div>
      <%= render 'users/index',users: @users %>
      <div class="flex justify-end">
        <%= paginate @users %>
    </div>
  </div>
</div>