<div class='container' style="width: 90%">
  <div class="row mt-3">
    <div class="col">
      <%= image_tag @user.get_profile_image, class: "rounded-circle", size: '100x100' %>
    </div>
    <div class="col-11">
      <h4>
        <%= @user.name %>さんの部屋
        <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
          <%= link_to chat_path(@user.id), class: "btn btn-outline-success rounded-pill mb-2" do %>
          <i class="fa-regular fa-comments"></i>&nbsp;&nbsp;chatを始める
          <% end %>
        <% end %>
        &nbsp;&nbsp;
              <% if current_user && @user.name == current_user.name %>
        <%= link_to edit_user_path(current_user), method: :get, class: "btn btn-outline-success rounded-pill" do %>
        <i class="fa-regular fa-address-card"></i>&nbsp;&nbsp;プロフィールを編集
        <% end %>
      <% end %>
      </h4>
      
      <p class="rounded">
      <%= @user.body %>
      </p>
    </div>
  </div>
  <div class="row my-3" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #b0c4de;">
    <h3 class="col-9"><%= @user.name %>さんの旅一覧</h3>
    <div class="col">
            <%= link_to new_travel_path, class: 'btn btn-outline-success rounded-pill' do %>
        <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新しく投稿する
        <% end %>
        </div>
  </div>
  <%= render 'travels/index', travels: @travels %>
  <%= paginate @travels %>
</div>