
<div class="line__balloon_r" id="chat_<%= chat.id %>">
  <%= image_tag current_user.get_profile_image, size: '70x70', style: 'border-radius: 50%' %>
  <div class="balloon__content">
  <p class="line__balloon_text" id="chat_<%= chat.id %>">
<%= chat.message.gsub("\n", "<br>").html_safe %>
</p>
  </div>
      <%= button_to chat_path(chat), method: :delete, class: "btn btn-outline-danger rounded-pill btn-sm mr-1 mt-3", remote: true, id: "delete_chat_#{chat.id}" do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
</div>

