<head>
  <style>
    .scrollable {
      max-height: 400px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }
  </style>
</head>

<div class='container mt-3' style="width: 80%">
  <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
    <%= @user.name %> さんとのDM
  </h2>
  <div class="col-9">
  <div class='row' style="background-color: #f0f8ff; border-radius: 30px; height: 450px; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">
    <div class="message col scrollable">
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <%= render "chats/chat", chat: chat %>
        <% else %>
          <div class="line__balloon_l">
            <%= image_tag @user.get_profile_image, size: '70x70', style: 'border-radius: 50%' %>
            <div class="balloon__content">
              <p class="line__balloon_text"><span><%= chat.message %></span></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  <%= form_with model: @chat, data: {remote: true} do |f| %>
    <div class="mt-3" style="overflow: hidden;">
      <%= f.text_area :message, placeholder: "メッセージをここに", class: "form-control col-9", style: "float: left; height: 100px;", id: "chat_textarea" %>
      <%= f.button "送信", class: "button-hover mx-auto mb-3", style: "margin-right: 50px; float: right;" %>
      <%= f.hidden_field :room_id %>
      <button class="button-hover ml-auto"id="clear">入力内容をクリア</button>
      <script>
        $(function(){
          $("#clear").click(function(){
            $("#chat_textarea").val("");
          });
        });
      </script>
    </div>
  <% end %>
</div>
