<div style="text-align: center;">
  <div class="container-fluid"  style="background-color: #f0f8ff; border-radius: 10px; width: 55%; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);">

    <h2 class="mb-3" style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9; padding: 10px 0px 0px 0px;">新規登録</h2>

    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name, "名前(姓)", class: "mb-2" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control mb-2" %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name, "名前(名)", class: "mb-2" %>
            <%= f.text_field :last_name, autofocus: false, autocomplete: "last_name", class: "form-control mb-2" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name_kana, "フリガナ(セイ)", class: "mb-2" %>
            <%= f.text_field :first_name_kana, autofocus: false, autocomplete: "first_name_kana", class: "form-control mb-2" %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name_kana, "フリガナ(メイ)", class: "mb-2" %>
            <%= f.text_field :last_name_kana, autofocus: false, autocomplete: "last_name_kana", class: "form-control mb-2" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス", class: "mb-2" %>
        <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control mb-2" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード(6文字以上)", class: "mb-2" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-2" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認用)", class: "mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-2" %>
      </div>

      <%= f.button "新規登録", class: "button-hover home", style: "z-index: 9998;" %>

    <% end %>
    <div>既に登録済みの方は</div>
    <p><%= link_to "こちら", new_user_session_path %> からログインしてください。</p>
  </div>
</div>