<div class="container mt-3 text-center">
  <h3><%= "#{@user.first_name}#{@user.last_name}" %>さんの会員詳細</h3>
<table class="table table-borderless">
  <tr>
    <td class="col-md-5">会員 ID</td>
    <td class="col-md-5"><%= @user.id %></td>
  </tr>
  <tr>
    <td class="col-md-5">登録名</td>
    <td class="col-md-5"><%= "#{@user.first_name}　#{@user.last_name}" %></td>
  </tr>
  <tr>
    <td class="col-md-5">フリガナ</td>
    <td class="col-md-5"><%= "#{@user.first_name_kana}　#{@user.last_name_kana}" %></td>
  </tr>
 <tr>
    <td class="col-md-5">メールアドレス</td>
    <td class="col-md-5"><%= @user.email %></td>
  </tr>
  <tr>
    <td class="col-md-5">フォロワー数</td>
    <td class="col-md-5"><%= @user.followers.count %></td>
 </tr>
</table>
  <%= link_to "退会させる", admin_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
</div>