<head>
  <style>
    .scrollable {
      max-height: 600px;
      overflow-y: scroll;
      scrollbar-width: thin; /* スクロールバーの幅を調整するためのプロパティ */
      scrollbar-color: transparent transparent; /* スクロールバーの色を透明にするためのプロパティ */
    }
  </style>
</head>

<div class="scrollable" style="overflow: auto; max-height: 600px;" id="app-container">
  <h3 class="text-center">投稿一覧</h3>
  <% @travels.each_slice(3) do |travels_slice| %>
    <div class="container">
      <div class="row justify-content-start" style="margin-left: 105px;">

        <% travels_slice.each do |travel| %>
          <div class="mt-4 mr-3 border" style="width: 280px; display: inline-block;">

            <% if travel.image.attached? %>
              <%= image_tag travel.image, class: "rounded", size: "280x200" %>
            <% else %>
              <%= image_tag 'Untitled_logo_1_free-file.jpg', class: "rounded", size: "280x200" %>
            <% end %>


              <h4 class="text-center">
                <%= link_to (travel.title.length > 10) ? "#{travel.title[0..9]}..." : travel.title, admin_travel_path(travel) %>
              </h4>
              <div style="padding: 0px 20px 0px 20px">
              <div class="">
                <% if current_user && travel.user == current_user %>
                  <%= image_tag current_user.get_profile_image, size: '40x40', class: 'rounded-circle' %><%= travel.user.name %>
                <% else %>
                  <%= image_tag travel.user.get_profile_image, size: '40x40', class: 'rounded-circle' %><%= travel.user.name %>
                <% end %>
              </div>
              <div class="row">
                <p class="col" id="comment_counter">
                  <%= render "travel_comments/counter", travel: travel %>
                </p>
              </div>

                <p class="col">
                  <% if travel.category.present? %>
                    <%= travel.category %>
                  <% end %>
                </p>

              <div class="col">
                <%= travel.created_at.strftime('%Y/%m/%d %H:%M') %>

            <%= link_to edit_admin_travel_path(travel.id), method: :get, class: "btn btn-outline-success rounded-pill" do %>
            <i class="fa-solid fa-pen-to-square"></i>
            <% end %>

            <%= link_to admin_travel_path(travel.id), method: :delete, class: "btn btn-outline-danger rounded-pill", "data-confirm" => "本当に削除しますか？" do %>
            <i class="fa-solid fa-trash-can"></i>
            <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<%= paginate @travels %>