<div class="container">
  <div class="row">
    <div class="mx-auto" style="background-color: #f0f8ff; border-radius: 10px; width: 55%; padding: 20px 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);"> <!-- style属性で幅を指定 -->
      <h2 class="text-center" style="border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #a9a9a9; padding: 10px 0px 0px 0px;">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-group" }) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-2" %>
        </div>

        <div class="actions">
          <%= f.button "ログイン", class: "button-hover home", style: "z-index: 9998;" %>
        </div>
      <% end %>
      <div>新規登録の方は<%= link_to "こちら", new_user_registration_path %>から登録を行ってください</div>
    </div>
  </div>
</div>