
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <%= link_to root_path do %>
      <div class="navbar-brand"><img src="/assets/Untitled_logo_1_free-file.jpg" width="50" height="50"></div>
    <% end %>
  <% if user_signed_in? %>
   <p class="mx-auto"><%= current_user.first_name %>さんようこそ</p>
  <% end %>
  <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>

          <li>
            <%= link_to user_path(current_user),class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li>
            <%=  link_to users_path,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-users"></i> Users
            <% end %>
          </li>
          <li>
            <%=  link_to travels_path ,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fa-solid fa-suitcase-rolling"></i> travels
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-sign-out-alt"></i> Log out
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image, size:'40x40',class: "rounded-circle mr-3" %>
            <% end %>
          </li>

        <% else %>

   <li>
      <%= link_to root_path,class: 'nav-link btn btn-outline-success rounded-pill' do %>
        <i class="fas fa-home"></i> Home
      <% end %>
   </li>
   <li>
      <%= link_to new_user_registration_path,class: 'nav-link btn btn-outline-success rounded-pill' do %>
        <i class="fas fa-user-plus"></i> Sign up
      <% end %>
   </li>
   <li>
      <%= link_to new_user_session_path ,class: 'nav-link btn btn-outline-success rounded-pill' do %>
        <i class="fas fa-sign-in-alt"></i> Log in
      <% end %>
   </li>
             <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-success rounded-pill' do %>
            <i class="fa-solid fa-right-from-bracket"></i> Log out
            <% end %>
          </li>
          <% end %>
</ul>
</nav>