
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <%= link_to root_path do %>
      <div class="navbar-brand"><img src="/assets/Untitled_logo_1_free-file.jpg" width="50" height="50"></div>
    <% end %>
  <% if user_signed_in? %>
   <p class="mx-auto"><%= current_user.first_name %>さんようこそ</p>
  <% end %>
  <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user),class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-home"></i> マイページ
            <% end %>
          </li>
          <li>
            <%=  link_to users_path,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-users"></i> 旅人一覧
            <% end %>
          </li>
          <li>
            <%=  link_to travels_path ,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fa-solid fa-suitcase-rolling"></i> 旅一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
          <li>
           <%= form_with(url: search_travels_path, local: true, method: :get ) do |form| %>
              <%= form.text_field :keyword,class:  %>
           <%= form.submit "検索",class: 'btn-outline-success rounded-pill mr-3 mt-1' %>
           <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image, size:'40x40',class: "rounded-circle mr-3" %>
            <% end %>
          </li>
       <% elsif admin_signed_in? %>
      <li>
        <%= link_to "ユーザー一覧", admin_users_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
        <% else %>

   <li>
      <%= link_to root_path,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
        <i class="fas fa-home"></i> トップページ
      <% end %>
   </li>
   <li>
      <%= link_to new_user_registration_path,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
        <i class="fas fa-user-plus"></i> 新規登録
      <% end %>
   </li>
   <li>
      <%= link_to new_user_session_path ,class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
   </li>
             <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-success rounded-pill mr-3' do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
          <% end %>
</ul>
</nav>