<div class="navbar center-align" style="background-color: #008b8b; height: 75px; display: flex; flex-direction: row;">
  <% if user_signed_in? %>
    <div class="center-align">
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag current_user.get_profile_image, size:'40x40',class: "rounded-circle" %>
      <% end %>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <%= image_tag 'Trip_history - MarkMaker Logo.png', width:"200", height:"100%", class: "centered-logo" %>
  <% end %>

  <% if user_signed_in? %>
    <div class="navbar right-align-item">
      <%= form_with(url: search_travels_path, local: true, method: :get ) do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-group" %>
        <%= form.submit "検索",class: 'btn-outline-success rounded-pill mt-3' %>
      <% end %>
    </div>
  <% elsif admin_signed_in? %>
    <div class="navbar right-align-item">
      <%= form_with(url: admin_search_path, local: true, method: :get ) do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "form-group" %>
        <%= form.submit "検索",class: 'btn-outline-success rounded-pill mr-3 mt-3' %>
      <% end %>
    </div>
  <% end %>
</div>