<!DOCTYPE html>
<html>
<head>
  <title>TripHistory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/2b7c6e9815.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -3;
      /* 背景のスタイルを追加 */
    }

/* For extend styles */
.burger_common {
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}
.transition_all_04s_easeinout {
  transition: all 0.3s ease-in-out;
}
.backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Main style */
main {
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: perspective(500px);
}
main #content {
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}



.burger.wrapper {
  position: absolute;
  top: 25px;
  left: 20px;
}
.burger.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  opacity: 0;
}
.burger.bloc {
  position: fixed;
  width: 40px;
  height: 24px;
  z-index: 3;
  top: 25px;
  left: 20px;
}
.burger.inner {
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 50%;
  margin-top: -2px;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.burger.inner::before,
.burger.inner::after {
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  content: "";
}
.burger.inner::before {
  top: -10px;
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in-out;
}
.burger.inner::after {
  bottom: -10px;
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.c {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  text-align: left;
  background-color: black;
  z-index: 1; /* 修正された部分 */
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.c::-webkit-scrollbar {
  display: none;
}
.b {
  list-style-type: none;
  padding: 0;
  margin: 80px 0 0;
  transition: all 0.3s cubic-bezier(0.49, 0.24, 0, 1.32) 0.2s;
  backface-visibility: hidden;
}
.b li {
  line-height: 3;
}
.b li h2 {
  display: block;
  padding: 10px 5vw;
  margin: 30px 0;
  color: #fff;
}

#nav_check {
  position: absolute;
  visibility: hidden;
}
#nav_check:checked + .burger.wrapper::before {
  opacity: 0;
  pointer-events: auto;
}
#nav_check:checked ~ .burger.inner {
  transform: rotate(225deg);
}
#nav_check:checked ~ .burger.inner::before {
  top: 0;
  opacity: 0;
}
#nav_check:checked ~ .burger.inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}
#nav_check:checked ~ .c {
  transform: translateX(0);
}
#nav_check:checked ~ main #content {
  transform-origin: left center;
  transform: translateX(15vw) translateZ(-20vw) rotateY(-13deg);
  filter: blur(3px);
}


  </style>
</head>
<body class="zen-kurenaido-regular">
  <%= render 'layouts/header' %>
<% if current_user %>

  <input type="checkbox" role="button" title="menu" id="nav_check" />
<label for="nav_check" class="burger wrapper" aria-hidden="true" title="menu">
  <span class="burger bloc">
    <span class="burger inner"></span>
  </span>
</label>

<nav class="c">
  <ul class="b">
    <li>
      <h3>
        <%= link_to notifications_path, class: "" do %>
          <% if current_user.notifications.where(checked: false).exists? %>
            <i class="fa-solid fa-bell fa-shake" style="color: #f2ee7d;"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-bell"></i>
          <% end %>
          通知一覧
        <% end %>
      </h3>
    </li>
    <li>
      <h4>
        <% if current_user && current_user.name %>
          <%= link_to edit_user_path(current_user), method: :get, class: "" do %>
            <i class="fa-regular fa-address-card"></i>&nbsp;&nbsp;プロフィールを編集
          <% end %>
        <% end %>
      </h4>
    </li>
    <li>
      <h4>
        <%= link_to new_travel_path, class: '' do %>
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新しく投稿する
        <% end %>
      </h4>
    </li>
    <li>
      <h4>
        <%= link_to "フォロー一覧", user_followings_path(current_user), class: "" %>
      </h4>
    </li>
    <li>
      <h4>
        <%= link_to "フォロワー一覧", user_followers_path(current_user), class: "" %>
      </h4>
    </li>
  </ul>
</nav>
<% end %>

<% if current_user %>
<%= render 'layouts/loading' %>
<% end %>
<main class="main">
  <section id="content">
    <%= render 'layouts/headernav' %>
    <%= render 'layouts/scroll' %>
    <div class='container'>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </section>
</main>
<div class="background">
  <%= render 'layouts/background' %>
</div>
</body>
</html>